# WEB SCRAPING WITH ALEX THE ANALYST

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import smtplib
import time
import datetime
from bs4 import BeautifulSoup
%matplotlib inline

In [ ]:
#smtplib is a client sessin that can be used to send mail to any internet machine using th smtp server.


#ALEX'S CODE DIDNT WORK FOR THIS SITE SO I HAD TO IMPORT DRIVERS AND TRY OTHER CODES
#url ='https://www.amazon.com/s?k=data%2Banalyst%2Btshirt&crid=1R77KZU2B6RQD&sprefix=data%2Banalyst%2Btshirt%2Caps%2C666&ref=nb_sb_noss_1'

#header = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36"} 
#the above header is a user agent gotten from https://httpbin.org/get
#page = requests.get(url, headers=header) #headers = the header we have above

In [185]:
from selenium import webdriver
import chromedriver_binary

driver= webdriver.Chrome(executable_path = "Documents/Data Anaytics Dr Briit/chromedriver.exe")
#completely skip this code if you have a matching version of cd to gc on line 32

#for microsoft edge browser
from msedge.selenium_tools import Edge, EdgeOptions 
import csv

In [187]:
url ='https://www.amazon.com/s?k=data%2Banalyst%2Btshirt&crid=1R77KZU2B6RQD&sprefix=data%2Banalyst%2Btshirt%2Caps%2C666&ref=nb_sb_noss_1'

page = driver.get(url)

In [4]:
soup1 = BeautifulSoup (driver.page_source, 'html.parser')  #the website is a doctype html and this code pulls in everthing

In [5]:
soup2 =BeautifulSoup(soup1.prettify(), 'html.parser')

In [9]:
soup_results = soup2.find_all('div', {'data-component-type':'s-search-result'}) #it has pulled up records from that whole component search

In [11]:
len(soup_results)

60

In [17]:
TS3 = soup_results[3] #i want to work with tshirt no 3 on the list starting from 0
#TS3

In [108]:
title =TS3.h2.a.text.strip() #h2 is just a tag to define the HTML headings

In [109]:
print(title)

Funny Got Data MIS Data Systems Business Analyst T-Shirt

In [105]:
parent=TS3.find('span','a-price')
parent

<span class="a-price" data-a-color="base" data-a-size="xl">
<span class="a-offscreen">
                    $16.99
                   </span>
<span aria-hidden="true">
<span class="a-price-symbol">
                     $
                    </span>
<span class="a-price-whole">
                     16
                     <span class="a-price-decimal">
                      .
                     </span>
</span>
<span class="a-price-fraction">
                     99
                    </span>
</span>
</span>

In [118]:
price =TS3.find('span','a-offscreen').text

In [119]:
print(price)

                    $16.99

In [122]:
price =price.strip()
print(price)

$16.99

In [94]:
#price =print(price.strip()[1:]) #this fxn removes what ever is in the front e.g like the currency. 
#price                   #note dat the more you run this particular code the more it keeps remving values in front

16.99

In [88]:
rate= TS3.find('span', 'a-icon-alt').text
print(rate)

                      4.9 out of 5 stars

In [89]:
rate =rate.strip()
print(rate)

4.9 out of 5 stars

In [52]:
rates= TS3.find('span', 'a-size-base').text
print(rates)

                   4.9

In [134]:
print(title)
print(price)
print(rate)

Funny Got Data MIS Data Systems Business Analyst T-Shirt
$16.99
4.9 out of 5 stars

In [127]:
from selenium import webdriver
import chromedriver_binary
from bs4 import BeautifulSoup


#for microsoft edge browser
from msedge.selenium_tools import Edge, EdgeOptions 
import csv

In [177]:
import csv
with open ('AmazonWSDatasets.csv', 'w',newline='',encoding ='utf-8') as f:
    writer = csv.writer(f)
    writer.writerow(['Title', 'Price', 'Rate']) #This will be the column names.. the header contains the columns
    writer.writerow([title, price, rate]) #to fill the data points with everything extracted

In [ ]:
# Apparently there is a diff between writerow() and writerows()

In [83]:
pwd

'C:\\Users\\Eugochi'

In [178]:
df =pd.read_csv ('AmazonWSDatasets.csv')
df

,Title,Price,Rate
0,Funny Got Data MIS Data Systems Business Analy...,$16.99,4.9 out of 5 stars

In [179]:
today = datetime.date.today()
print(today)

2023-04-07

In [180]:
#here we are not appending but adding a new column name
with open ('AmazonWSDatasets.csv', 'w',newline='',encoding ='utf-8') as f:
    writer = csv.writer(f)
    writer.writerow(['Title', 'Price', 'Rate', 'Date']) #This will be the column names.. the header contains the columns
    writer.writerow([title, price, rate, today]) #to fill the data points with everything extracted

In [174]:
#df['Date'] =today = datetime.date.today() # can decide to add date or new columns like this
#however adding it like this may not reflect properly at the csv file but willl open accurately here so be careful

In [181]:
df =pd.read_csv ('AmazonWSDatasets.csv')
df

,Title,Price,Rate,Date
0,Funny Got Data MIS Data Systems Business Analy...,$16.99,4.9 out of 5 stars,2023-04-07

In [ ]:
#to append data just incase you get new data coming in everyday, just run the code manually
#it will extract data from the url and check for updates on the same item as often as you want hrly , daily, weekly
#with open ('AmazonWSDatasets.csv', 'a+',newline='',encoding ='utf-8') as f:
    #writer = csv.writer(f)  #we removed the header names
    #writer.writerow([title, price, rate, today]) #to fill the data points with everything extracted

In [182]:
#to prevent running the code above manually, you can do it this way

def check_price():  #to automatically check price
    url ='https://www.amazon.com/s?k=data%2Banalyst%2Btshirt&crid=1R77KZU2B6RQD&sprefix=data%2Banalyst%2Btshirt%2Caps%2C666&ref=nb_sb_noss_1'
    driver = webdriver.Chrome(executable_path = "Documents/Data Anaytics Dr Briit/chromedriver.exe")
    page = driver.get(url)
    soup1 = BeautifulSoup (driver.page_source, 'html.parser')
    soup2 =BeautifulSoup(soup1.prettify(), 'html.parser')
    title =TS3.h2.a.text.strip()
    price =TS3.find('span','a-offscreen').text
    rate= TS3.find('span', 'a-icon-alt').text

    price =price.strip()
    rate =rate.strip()
    today = datetime.date.today()

import csv

header= ['Title', 'Price','Rate', 'Date']
data = [title,price, rate, today]
with open ('AmazonWSDatasets.csv', 'a+',newline='',encoding ='utf-8') as f: #use append +
    writer = csv.writer(f) # remove headers and leave only data
    writer.writerow(data) #to fill the data points with everything extracted  
    
    #EVERYTIME I RUN THIS CODE IT WILL ADD A NEW LINE OF DATA... SAME DATA THO UNLESS THERE IS A PRICE CHANGE

# building an auto fxn to check price

In [ ]:
#to run every 5 secs or(how many secs you want)to check for price updates inacse of any price change.
#due to drivers being used it will open the web page ultiple times trying to check for updates
#in summary this code will check price every 5 secs
while(True):
    check_price()
    time.sleep(5)

In [183]:
df =pd.read_csv ('AmazonWSDatasets.csv') #the num of times you run the code the more lines it creates
df

,Title,Price,Rate,Date
0,Funny Got Data MIS Data Systems Business Analy...,$16.99,4.9 out of 5 stars,2023-04-07
1,Funny Got Data MIS Data Systems Business Analy...,$16.99,4.9 out of 5 stars,2023-04-07

In [ ]:


#the email shoot thing